## Task-6. Таблицы сопряжённости

In [2]:
import helper as hp
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import math

In [3]:
my_var = 13
task_6 = '6'

In [4]:
df_1 = hp.get_data(task_6, hp.get_tasks_var(my_var))
df_1

     A9 A14
0     N   N
1     Y   Y
2     N   Y
3     Y   Y
4     N   N
...  ..  ..
1068  N   N
1069  Y   N
1070  N   N
1071  N   N
1072  Y   Y

[1073 rows x 2 columns]

In [5]:
data_x = df_1['A9']
data_y = df_1['A14']

In [36]:
emp_crstab = pd.crosstab(data_x, data_y)
emp_crstab

A14    N    Y
A9
N    570   31
Y     22  450

In [57]:
display("sum", emp_crstab.sum(0), emp_crstab.sum(1))

'sum'

A14
N    592
Y    481
dtype: int64

A9
N    601
Y    472
dtype: int64

In [60]:
theor_crstab = pd.DataFrame({"1" : [emp_crstab.sum(0)[0] * emp_crstab.sum(1)[0] / 1073, 
                                    emp_crstab.sum(0)[0] * emp_crstab.sum(1)[1] / 1073],
                             "2" : [emp_crstab.sum(0)[1] * emp_crstab.sum(1)[0] / 1073, 
                                     emp_crstab.sum(0)[1] * emp_crstab.sum(1)[1] / 1073]
                                
                            })
theor_crstab

            1           2
0  331.586207  269.413793
1  260.413793  211.586207

In [65]:
display("sum", theor_crstab.sum(0), theor_crstab.sum(1))

'sum'

1    592.0
2    481.0
dtype: float64

0    601.0
1    472.0
dtype: float64

In [70]:
test = stats.chi2_contingency(emp_crstab)
test

(865.675555548343, 2.84252174462521e-190, 1, array([[331.5862069, 269.4137931],
        [260.4137931, 211.5862069]]))

In [72]:
print("statistic = ", test[0])
print("p-value = ", test[1])

statistic =  865.675555548343
p-value =  2.84252174462521e-190