## Task-3.  Проверка статистических гипотез о математических ожиданиях и дисперсиях

In [7]:
import helper as hp
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [8]:
my_var = 13
task_3 = ['3.1', '3.2', '3.3', '3.4']

### 3.1. Проверка статистических гипотез о математических ожиданиях

In [65]:
df_1 = hp.get_data(task_3[0], hp.get_tasks_var(my_var))
data_1 = df_1.to_numpy()
alpha = 0.1

1. m0 = 430
2. m0 = 420
3. m0 = 425

In [66]:
stats.ttest_1samp(data_1, 430)
display(stats.ttest_1samp(data_1, 430),
        stats.ttest_1samp(data_1, 420),
        stats.ttest_1samp(data_1, 425))

Ttest_1sampResult(statistic=array([-0.71091113]), pvalue=array([0.47729395]))

Ttest_1sampResult(statistic=array([2.90257842]), pvalue=array([0.00377682]))

Ttest_1sampResult(statistic=array([1.09583364]), pvalue=array([0.2733977]))

In [67]:
def t_test_criterion(data, m0):
    return (data.mean() - m0) * np.sqrt(data.size) / data.std()

In [71]:
display("Check",
        t_test_criterion(data_1, 430),
        t_test_criterion(data_1, 420),
        t_test_criterion(data_1, 425))

'Check'

-0.7112426366212105

2.903931920908714

1.096344642143752

### 3.2. Проверка статистических гипотез о дисперсиях

In [156]:
df_2 = hp.get_data(task_3[1], hp.get_tasks_var(my_var))
data_2 = df_2.to_numpy()
df_2

       A8
0     382
1     508
2     415
3     498
4     350
...   ...
1068  349
1069  439
1070  383
1071  315
1072  445

[1073 rows x 1 columns]

1. sigm0 = 8700
2. sigm0 = 8300
3. sigm0 = 7700

In [119]:
def criterion_chi2_test(data, sigm):
    return (data.size - 1) * data.var() / sigm

In [203]:
display('stat crit',
        criterion_chi2_test(data_2, 8700),
        criterion_chi2_test(data_2, 8300),
        criterion_chi2_test(data_2, 7700)
)

'stat crit'

1011.6183788220435

1060.3710717773226

1142.9973890586725

In [205]:
display('p-value',
        1-stats.chi2.cdf(criterion_chi2_test(data_2, 8700), data_2.size-1),
        1-stats.chi2.cdf(criterion_chi2_test(data_2, 8300), data_2.size-1),
        1-stats.chi2.cdf(criterion_chi2_test(data_2, 7700), data_2.size-1)
)

'p-value'

0.9057279874047339

0.5939233342457588

0.06488224558110478

### 3.3. Проверка статистических гипотез о равенстве математических ожиданий

In [165]:
df_3 = hp.get_data(task_3[2], hp.get_tasks_var(my_var))
df_3

       A5   A8
0     454  382
1     686  508
2     533  415
3     612  498
4     442  350
...   ...  ...
1068  408  349
1069  535  439
1070  441  383
1071  403  315
1072  539  445

[1073 rows x 2 columns]

In [167]:
data_3_1 = df_3['A5'].to_numpy()
data_3_2 = df_3['A8'].to_numpy()

Welch’s t-test

In [175]:
stats.ttest_ind(data_3_1, data_3_2, equal_var = False)

Ttest_indResult(statistic=21.699867460073605, pvalue=5.401804194677876e-94)

### 3.4. Проверка статистических гипотез о равенстве дисперсий

In [178]:
df_4 = hp.get_data(task_3[3], hp.get_tasks_var(my_var))
df_4

       A5   A8
0     454  382
1     686  508
2     533  415
3     612  498
4     442  350
...   ...  ...
1068  408  349
1069  535  439
1070  441  383
1071  403  315
1072  539  445

[1073 rows x 2 columns]

In [179]:
data_4_1 = df_3['A5'].to_numpy()
data_4_2 = df_3['A8'].to_numpy()

In [180]:
def criterion_f_test(data_1, data_2):
    return data_1.var() / data_2.var()

In [206]:
display('stat crit',
        criterion_f_test(data_4_1, data_4_2),
       )

'stat crit'

1.6876972155148267

In [208]:
display('p-value',
        1 - stats.f.cdf(criterion_f_test(data_4_1, data_4_2), data_4_1.size-1, data_4_2.size-1),
       )

'p-value'

1.1102230246251565e-16