In [50]:
import pandas as pd

In [131]:
def get_tasks_var(my_var):
    excel_file = 'var_matstat_K5.xls'
    df = pd.read_excel(excel_file)
    num_of_task = list(df.columns.values)[1:]
    num_of_var = df.values.tolist()[my_var-1][1:]
    dict_ = dict(zip(num_of_task, num_of_var))
    my_dict = {}
    for ls in dict_.keys():
        for key in ls.split(','):
            k = key.strip()
            if k in ls:
                my_dict[k]=dict_[ls]
    return my_dict

In [135]:
get_tasks_var(13)

{'1.1': 'A5 A6 A8',
 '1.2': 'A8',
 '2.1': 'A8',
 '3.1': 'A8',
 '2.2': 'A8',
 '3.2': 'A8',
 '2.3': 'A5 A8',
 '3.3': 'A5 A8',
 '2.4': 'A5 A8',
 '3.4': 'A5 A8',
 '4': 'A8',
 '5': 'A5 A8',
 '6': 'A9 A14',
 '7': 'A4 A8',
 '8.1': 'A5 A8',
 '8.2': 'A5 A6 A8',
 '9.1': 'A15 A13',
 '9.2': 'A15 A13',
 '9.3': 'A15 A5 A13'}

In [136]:
sheet_name_dict = {
                    'A' : 'A - aaup', 
                    'B' : 'B - bodyfat',
                    'C' : 'C - plasma',
                    'D' : 'D - homedat'
                  }

In [137]:
def get_name_of_sheet(my_dict):
    return sheet_name_dict[list(my_dict.values())[0][0]]

In [138]:
get_name_of_sheet(get_tasks_var(13))

'A - aaup'

In [141]:
def get_data(num_of_task, tasks_var):
    excel_file = 'data_matstat_K5.xls'
    sht_nm = get_name_of_sheet(tasks_var)
    df = pd.read_excel(excel_file, sheet_name=sht_nm)
    rows = tasks_var[num_of_task].split()
    return df[rows]

In [142]:
get_data('1.1', get_tasks_var(13))

       A5   A6   A8
0     454  382  382
1     686  560  508
2     533  494  415
3     612  507  498
4     442  369  350
...   ...  ...  ...
1068  408  340  349
1069  535  431  439
1070  441  383  383
1071  403  348  315
1072  539  410  445

[1073 rows x 3 columns]