## Task-8. Корреляционный анализ

In [2]:
import helper as hp
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import math

In [3]:
my_var = 13

In [4]:
df_1 = hp.get_data('8.1', hp.get_tasks_var(my_var))
df_2 = hp.get_data('8.2', hp.get_tasks_var(my_var))

### 8.1. Расчёт парных коэффициентов корреляции

In [5]:
df_1

       A5   A8
0     454  382
1     686  508
2     533  415
3     612  498
4     442  350
...   ...  ...
1068  408  349
1069  535  439
1070  441  383
1071  403  315
1072  539  445

[1073 rows x 2 columns]

In [6]:
x1 = df_1['A5'].to_numpy()
x2 = df_1['A8'].to_numpy()

#### а) Рассчитать точечные оценки коэффициентов корреляции

In [7]:
pd.DataFrame({"Линейный коэффициент корреляции" : [stats.pearsonr(x1, x2)[0]],
              "Ранговый коэффициент корреляции по Спирмену" : [stats.spearmanr(x1, x2)[0]],
              "Ранговый коэффициент корреляции по Кендаллу" : [stats.kendalltau(x1, x2)[0]]
             })

,Линейный коэффициент корреляции,Ранговый коэффициент корреляции по Спирмену,Ранговый коэффициент корреляции по Кендаллу
0,0.96765,0.964218,0.840527

#### в) Рассчитать доверительные интервалы для линейного коэффициента корреляции

In [8]:
def get_corr_conf_int(x, y, alpha):
    r, p = stats.pearsonr(x,y)
    r_z = np.arctanh(r)
    se = 1/np.sqrt(x.size-3)
    z = stats.norm.ppf(1-alpha/2)
    lo_z, hi_z = r_z-z*se, r_z+z*se
    return np.tanh((lo_z, hi_z))
get_corr_conf_int(x1, x2, alpha=0.01)

array([0.96223568, 0.97229818])

In [9]:
pd.DataFrame({"Граница доверительного интервала" : ["Нижняя граница", "Верхняя граница"],
              "$\\alpha$ = 0.01" : get_corr_conf_int(x1, x2, alpha=0.01),
              "$\\alpha$ = 0.05" : get_corr_conf_int(x1, x2, alpha=0.05),
              "$\\alpha$ = 0.1" : get_corr_conf_int(x1, x2, alpha=0.1),
             })

,Граница доверительного интервала,$\alpha$ = 0.01,$\alpha$ = 0.05,$\alpha$ = 0.1
0,Нижняя граница,0.962236,0.963606,0.964288
1,Верхняя граница,0.972298,0.971250,0.970699

#### г) Указать формулы расчёта показателей, используемых при проверке значимости коэффициентов корреляции

In [10]:
pd.DataFrame({"Стат. гипотеза, H0" : ["H0: $r_{XY}$ = 0", "H0: $\rho_{XY}$ = 0", "H0: $\tau_{XY}$ = 0"],
              "crit" : [stats.pearsonr(x1, x2)[0], stats.spearmanr(x1, x2)[0], stats.kendalltau(x1, x2)[0]],
              "p-value" : [stats.pearsonr(x1, x2)[1], stats.spearmanr(x1, x2)[1], stats.kendalltau(x1, x2)[1]],
              "Стат. реш. при alpha = 0.01" : ["", "", ""],
              "Ошибка стат. решения" : ["", "", ""],
             })

,"Стат. гипотеза, H0",crit,p-value,Стат. реш. при alpha = 0.01,Ошибка стат. решения
0,H0: $r_{XY}$ = 0,0.967650,0.0,,
1,H0: $\rho_{XY}$ = 0,0.964218,0.0,,
2,H0: $\tau_{XY}$ = 0,0.840527,0.0,,

### 8.2. Расчёт множественных коэффициентов корреляции

In [11]:
df_2

       A5   A6   A8
0     454  382  382
1     686  560  508
2     533  494  415
3     612  507  498
4     442  369  350
...   ...  ...  ...
1068  408  340  349
1069  535  431  439
1070  441  383  383
1071  403  348  315
1072  539  410  445

[1073 rows x 3 columns]

In [22]:
y1 = df_2['A5']
y2 = df_2['A6']
y3 = df_2['A8']

#### а) Рассчитать матрицу ранговых коэффициентов корреляции по Кендаллу

In [23]:
pd.DataFrame({"Признак" : ["$Y_1$", "$Y_2$", "$Y_3$"],
              "$Y_1$" : [stats.kendalltau(y1, y1)[0], stats.kendalltau(y2, y1)[0], stats.kendalltau(y3, y1)[0]],
              "$Y_2$" : [stats.kendalltau(y1, y2)[0], stats.kendalltau(y2, y2)[0], stats.kendalltau(y2, y3)[0]],
              "$Y_3$" : [stats.kendalltau(y1, y3)[0], stats.kendalltau(y3, y2)[0], stats.kendalltau(y3, y3)[0]]
             })

  Признак     $Y_1$     $Y_2$     $Y_3$
0   $Y_1$  1.000000  0.820784  0.840527
1   $Y_2$  0.820784  1.000000  0.812955
2   $Y_3$  0.840527  0.812955  1.000000

#### б) Рассчитать матрицу значений p-value для ранговых коэффициентов корреляции по Кендаллу

In [24]:
pd.DataFrame({"Признак" : ["$Y_1$", "$Y_2$", "$Y_3$"],
              "$Y_1$" : [stats.kendalltau(y1, y1)[1], stats.kendalltau(y2, y1)[1], stats.kendalltau(y3, y1)[1]],
              "$Y_2$" : [stats.kendalltau(y1, y2)[1], stats.kendalltau(y2, y2)[1], stats.kendalltau(y2, y3)[1]],
              "$Y_3$" : [stats.kendalltau(y1, y3)[1], stats.kendalltau(y3, y2)[1], stats.kendalltau(y3, y3)[1]]
             })

  Признак  $Y_1$  $Y_2$  $Y_3$
0   $Y_1$    0.0    0.0    0.0
1   $Y_2$    0.0    0.0    0.0
2   $Y_3$    0.0    0.0    0.0

#### в) Рассчитать точечную оценку коэффициента конкордации

In [25]:
w = 12 *

SyntaxError: invalid syntax (<ipython-input-25-db814080da93>, line 1)

In [39]:
m = y1.size
n = 3
s1 = (stats.rankdata(y1) - (m+1)*(n+1)/2)**2
s2 = (stats.rankdata(y2) - (m+1)*(n+1)/2)**2
s3 = (stats.rankdata(y3) - (m+1)*(n+1)/2)**2
s1.sum()

2887726013.5

In [35]:
(m+1)*(n+1)/2

2148.0

In [38]:
stats.rankdata(y1)-(m+1)*(n+1)/2

array([-1837.5, -1175. , -1515. , ..., -1886.5, -2006.5, -1495.5])