In [1]:
import helper as hp
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import math

# 2.1

In [2]:
my_var = 13
task_2_1 = '2.1'

In [3]:
df_1 = hp.get_data(task_2_1, hp.get_tasks_var(my_var))

In [4]:
df_1

       A8
0     382
1     508
2     415
3     498
4     350
...   ...
1068  349
1069  439
1070  383
1071  315
1072  445

[1073 rows x 1 columns]

In [5]:
def mean_confidence_interval(data, confidence, attrbt):
    a = 1.0*np.array(data)
    n = len(a)
    m, se = attrbt(a), stats.sem(a)
    h = se * stats.t._ppf((1+confidence)/2., n-1)
    return m-h, m+h

In [6]:
def illstr_table(data, attrbt):
    intr = [mean_confidence_interval(data, 0.99, attrbt), 
          mean_confidence_interval(data, 0.95, attrbt), 
          mean_confidence_interval(data, 0.90, attrbt)]
    left_board = [intr[i][0] for i in range(3)]
    right_board = [intr[i][1] for i in range(3)]
    display(pd.DataFrame([left_board, right_board]).rename(index={0:'Левая граница', 1:'Правая граница'}, 
                                               columns={0: 'alpha = 0.99', 1: 'alpha = 0.95', 2: 'alpha = 0.90'}))

In [7]:
illstr_table(df_1, attrbt=np.mean)

,alpha = 0.99,alpha = 0.95,alpha = 0.90
Левая граница,[420.89153457926255],[422.60246785148496],[423.47670060495653]
Правая граница,[435.17370307218204],[433.46276979995963],[432.58853704648806]

# 2.2

In [8]:
task_2_2 = '2.2'

In [9]:
df_2 = hp.get_data(task_2_2, hp.get_tasks_var(my_var))

In [10]:
df_2

       A8
0     382
1     508
2     415
3     498
4     350
...   ...
1068  349
1069  439
1070  383
1071  315
1072  445

[1073 rows x 1 columns]

In [11]:
illstr_table(df_1, attrbt=np.var)

                       alpha = 0.99         alpha = 0.95         alpha = 0.90
Левая граница    [8202.82150507423]   [8204.53243834645]  [8205.406671099923]
Правая граница  [8217.103673567148]  [8215.392740294927]  [8214.518507541454]

# 2.3

In [12]:
task_2_3 = '2.3'

In [13]:
df_3 = hp.get_data(task_2_3, hp.get_tasks_var(my_var))

In [14]:
df_3

       A5   A8
0     454  382
1     686  508
2     533  415
3     612  498
4     442  350
...   ...  ...
1068  408  349
1069  535  439
1070  441  383
1071  403  315
1072  539  445

[1073 rows x 2 columns]

In [15]:
def dif_mean_confidence_interval(data_1, data_2, confidence, attrbt):
    a_1 = 1.0*np.array(data_1)
    a_2 = 1.0*np.array(data_2)
    n_1 = len(a_1)
    n_2 = len(a_2)
    m_1, se_1 = attrbt(a_1), stats.sem(a_1)
    m_2, se_2 = attrbt(a_2), stats.sem(a_2)
    h = max(se_1 * stats.t._ppf((1+confidence)/2., n_1-1), se_2 * stats.t._ppf((1+confidence)/2., n_2-1))
    m = m_1 - m_2
    return m-h, m+h

In [16]:
def dif_illstr_table(data_1, data_2, attrbt):
    intr = [  
              dif_mean_confidence_interval(data_1, data_2, 0.99, attrbt), 
              dif_mean_confidence_interval(data_1, data_2, 0.95, attrbt),
              dif_mean_confidence_interval(data_1, data_2, 0.90, attrbt),
           ]
    left_board = [intr[i][0] for i in range(3)]
    right_board = [intr[i][1] for i in range(3)]
    display(pd.DataFrame([left_board, right_board]).rename(index={0:'Левая граница', 1:'Правая граница'}, 
                                               columns={0: 'alpha = 0.99', 1: 'alpha = 0.95', 2: 'alpha = 0.90'}))

In [17]:
dif_illstr_table(df_3['A5'], df_3['A8'], np.mean)

                alpha = 0.99  alpha = 0.95  alpha = 0.90
Левая граница      89.173989     91.396687     92.532415
Правая граница    107.728154    105.505457    104.369729

In [18]:
dif_illstr_table(df_3['A5'], df_3['A8'], np.mean)

                alpha = 0.99  alpha = 0.95  alpha = 0.90
Левая граница      89.173989     91.396687     92.532415
Правая граница    107.728154    105.505457    104.369729

In [19]:
def div_std_confidence_interval(data_1, data_2, confidence, attrbt):
    a_1 = 1.0*np.array(data_1)
    a_2 = 1.0*np.array(data_2)
    n_1 = len(a_1)
    n_2 = len(a_2)
    m_1, se_1 = attrbt(a_1), stats.sem(a_1)
    m_2, se_2 = attrbt(a_2), stats.sem(a_2)
    h = (se_1 * stats.t._ppf((1+confidence)/2., n_1-1)) / (se_2 * stats.t._ppf((1+confidence)/2., n_2-1))
    m = m_1 / m_2
    return m-h, m+h

In [20]:
def div_illstr_table(data_1, data_2, attrbt):
    intr = [  
              div_std_confidence_interval(data_1, data_2, 0.99, attrbt), 
              div_std_confidence_interval(data_1, data_2, 0.95, attrbt),
              div_std_confidence_interval(data_1, data_2, 0.90, attrbt),
           ]
    left_board = [intr[i][0] for i in range(3)]
    right_board = [intr[i][1] for i in range(3)]
    display(pd.DataFrame([left_board, right_board]).rename(index={0:'Левая граница', 1:'Правая граница'}, 
                                               columns={0: 'alpha = 0.99', 1: 'alpha = 0.95', 2: 'alpha = 0.90'}))

In [21]:
div_illstr_table(df_3['A5'], df_3['A8'], np.std)

                alpha = 0.99  alpha = 0.95  alpha = 0.90
Левая граница   2.220446e-16      0.000000      0.000000
Правая граница  2.598228e+00      2.598228      2.598228

In [23]:
hp.get_data(task_2_1, hp.get_tasks_var(9))

       A7
0     362
1     432
2     329
3     414
4     310
...   ...
1068  297
1069  361
1070  339
1071  282
1072  374

[1073 rows x 1 columns]